body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    border: 1px solid red;
    width: 100%;
    height: 100px;

}
.main{
    display: flex;
    flex-wrap: wrap;
}
.watchlist{
    border: 1px solid gray;
    height: 800px;
    width: 35%;
}
.main-2{
    border: 1px solid gray;
    width: 64%;
    height: 800px;
}
#input-el{
    width: 96%;
    margin: 5px 5px ;
    height: 35px;
}
#render-watchlist{
    border: 1px solid black;
    width: 100%;
    height: 90%;
}
#listbox{
    
    position: absolute;
    min-height: 0px;
    max-height: 380px;
    width: inherit;
    overflow:scroll;
}
#ul-el{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 0px;
     padding: 0px;
     border: 0px;
     margin-left: 0px;
     
 }
 #listitem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(90, 48, 142);
     background-color: whitesmoke;
     padding: 10px 10px;
     border-bottom: .5px solid rgb(157, 72, 72);
     list-style: none;
     font-weight: 500; 
     width: 100%;
 }
 #listitem:hover{
    background-color: gainsboro;
 }
 .item-watchlist{
    border: 1px solid rgb(42, 224, 21);
    display: flex;
    justify-content: space-between;
    align-content: center;
 }
 .btns{

    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    border: 1px solid blue;
 }
 .btns button{
    padding: 3px 3px 3px 3px;
    height: 20px;
    width: 20px;
 }